.button-link-disabled :hover,.button-link-disabled:focus,.btn-primary:active, 
.button-link-disabled:active:focus:not(:disabled):not(.disabled),
.button-link-enabled :hover,.button-link-enabled:focus,.btn-primary:active, 
.button-link-enabled:active:focus:not(:disabled):not(.disabled),
button:focus, button:active, button:hover{

    box-shadow: none!important;
    outline: 0;
}

.button-link-disabled, .button-link-disabled:focus {
    background: none;
    border: none;
    padding: 0;
    color: #dfe1e5;
    cursor: pointer;
    outline: none !important;
    border: none !important;
}

.button-link-enabled, .button-link-enabled:focus {
    background: none;
    border: none;
    padding: 0;
    color: #df7599;
    cursor: pointer;  
}


.next-track {
    transform: translateX(-50%);
    padding: 0 5px 0 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color:#df7599;
    position: absolute; 
    left: 50%;
    bottom: 0; 
    z-index: 30;
    color: white;
}

.upvote-button {
    line-height: 30px;
    border-radius: 10px;
    border: none;
}
